<!DOCTYPE html>
<html>
<head>
	<title>ABOUT</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>
<body>
	<h1>TON GROUPEEEEEEEEEEEE</h1>
	<h2>GROUPE :)</h2>

	<br><br><br>
	<footer>
		<ol>
			<li><a href="/">ACCUEIL</a></li>
			<li><a href="/contact">CONTACT</a></li>
			<li><a href="/about">ABOUT</a></li>
		</ol>
	</footer>

</body>
</html>